
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/Content/datatables")
}
@section scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/deleteButton")
}
@model List<VendasMVC.Models.Cliente>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Alterar</th>
                        <th>Compras</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Alterar</th>
                        <th>Compras</th>
                        <th>Excluir</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var cliente in Model)
                    {
                        <tr>
                            <td class="align-middle">@cliente.Cpf</td>
                            <td class="align-middle">@cliente.Nome</td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Form", "Cliente", new { id = cliente.IdCliente, acao = "./alterar" })'">Alterar</button>
                            </td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("VisualizarCliente", "Cliente", new { id = cliente.IdCliente })'">Ver Compras</button>
                            </td>
                            <td class="align-middle">
                                <button type="button" name="@cliente.IdCliente" class="btn btn-danger btn-circle btn-md delete"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
