
@{
    ViewBag.Title = "Visualizar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/datatables")
}
@section scripts {
    @Scripts.Render("~/bundles/datatables")
}

@model VendasMVC.ViewModel.VisualizarComprasClientesViewModel
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Compras de @Model.Cliente.Nome</h1>
</div>
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total compras (Mês)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @String.Format("{0:C2}", Model.ValorMensal)
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total compras</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @String.Format("{0:C2}", Model.ValorTotal)
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Número de Compras (Mês)</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.VolumeComprasMes</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments-dollar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Número de compras</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.VolumeCompras</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments-dollar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Compras</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Número da venda</th>
                        <th>Vendedor</th>
                        <th>Data da Venda</th>
                        <th>Produtos</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Número da venda</th>
                        <th>Vendedor</th>
                        <th>Data da Venda</th>
                        <th>Produtos</th>
                        <th>Valor Total</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var compra in Model.Compras)
                    {
                        decimal valorTotal = 0;
                        foreach (var produto in Model.Produtos)
                        {
                            if (produto.IdVenda == compra.IdVenda)
                            {
                                valorTotal += produto.Valor;
                            }
                        }
                        <tr>
                            <td class="align-middle">@compra.IdVenda</td>
                            <td class="align-middle">@compra.Vendedor.Nome</td>
                            <td class="align-middle">@compra.DataDaVenda</td>
                      
                            <td class="align-middle">
                                <div class="dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle"
                                       href="#"
                                       id="produtosDropdown"
                                       role="button"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        Produtos<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <!-- Dropdown - User Information -->
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="produtosDropdown">                                      
                                        <table class="table table-bordered dropdown-item">
                                            <thead>
                                                <tr>
                                                    <td>Produto</td>
                                                    <td>Quantidade</td>
                                                    <td>Valor</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    @foreach (var produto in Model.Produtos)
                                                    {
                                                        if (produto.IdVenda == compra.IdVenda)
                                                        {
                                                            <td>@produto.Produto.Nome</td>
                                                            <td>@produto.Quantidade x</td>
                                                            <td>@String.Format("{0:C2}", produto.Valor)</td>
                                                        }
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">@String.Format("{0:C2}", valorTotal)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
