
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/Content/datatables")
}

@section scripts {
    @Scripts.Render("~/bundles/datatables")
}

@model List<VendasMVC.Models.Vendedor>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var cliente in Model)
                    {
                        <tr>
                            <td>@cliente.Cpf</td>
                            <td>@cliente.Nome</td>
                            <td>
                                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Form", "Vendedor", new { id = vendedor.IdVendedor, acao = "./alterar" })'">Alterar</button> |
                                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("VisualizarVendedor", "Vendedor", new { id = vendedor.IdVendedor })'">Ver Vendas</button> |
                                <button type="button" class="btn btn-danger delete" name="@vendedor.IdVendedor">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
