
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/Content/datatables")
}

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/deleteButton")
}

@model List<VendasMVC.Models.Vendedor>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Vendedores</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Alterar</th>
                        <th>Vendas</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Alterar</th>
                        <th>Vendas</th>
                        <th>Excluir</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var vendedor in Model)
                    {
                        <tr id="@vendedor.IdVendedor">
                            <td class="align-middle">@vendedor.Cpf</td>
                            <td class="align-middle">@vendedor.Nome</td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Form", "Vendedor", new { id = vendedor.IdVendedor, acao = "./alterar" })'">Alterar</button>
                            </td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("VisualizarVendedor", "Vendedor", new { id = vendedor.IdVendedor })'">Ver Vendas</button>
                            </td>
                            <td class="align-middle">
                                <button type="button" name="@vendedor.IdVendedor" class="btn btn-danger btn-circle btn-md delete"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
